// SASS for Aside 

//Aside 
aside {
	width: 250px;
	height: 700px;
	position: fixed;
	left: -250px;
	top: 0;
	bottom: 0;
	height: 100%;
	background: #222;
	@include transition(.5s);
}

//hamburger
a.hamburger {
	display: block;
}

//New Momento/Post link
a.link-new {
	border: 2px solid #8e8e8e;
	display: block;
	border-radius: 10px;
	color: #8e8e8e;
	padding: 1em;
	margin: 2em 1em;
	text-align: center;
	@include transition(.2s);
	
	&:hover {
		background: rgba(255,255,255, 0.05);
		border: 2px solid white;
		color: white;
	}
}

//Main Menu
ul.menu {
	margin: 20px 0 0 20px;
	font-size: 1em;
	font-weight: 600;
	
	li {
		margin: .5em 0;
		color: #8e8e8e;
		line-height: 30px;
		vertical-align: middle;
		@include transition(.2s);
		
		//icons
		span {
			line-height: 30px;
			vertical-align: middle;
			padding-right: 19px;
			
		}

		a {
			text-decoration: none;
			color: inherit;
			vertical-align: middle;			
		}
		//Profile Image
		img {
			display: inline;
			margin-left: -4px;
			margin-right: 1em;
			line-height: 30px;
			vertical-align: middle;
			border-radius: 999em;
			@include size(24px);
		}

		&:hover {
			color: white;
		}
	}
}

//Slide out 
.slide{
		@include transform(translatex(250px));
}
