//SASS for Content 

html{
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body{
	height: 100%;
	font-family: 'Lato', Helvetica, sans-serif;
}

h1{
	font-size: 36px;
}

h2{
	font-size: 1.0em;
}

h3{
	font-size: .9em;
}


h1, h2, h3, h4,p{
	color: $font;

	a{
		color: $links;
	}
}

a{
	text-decoration: none;
	color: $links;
}


//Page Wrapper 
div.wrapper{
	margin: 0 auto; 
	width: 100%;
	position: absolute;
	z-index: 9999;
	height: 100%;
	@include transition(.2s);
}


//Content Wrapper 
div.content-wrapper{
	position: absolute;
	margin-left: 250px;
	min-height: 100%;
	margin-left: 0;
	width: 100%;
	background: white;
	@include transition(.2s);
}
	
