//Sass for discover page


form.discover-search{
	input{
		
		margin: 0em 6% 1em;
		width: 88%;
		padding-bottom: 10px;
		border: none;
		background: none;
		border-bottom: 1px solid $line-break;
	}

	input:focus{
		outline: none;
	}
}


div.discover-user{
	line-height: 65px;
	
	margin: 1em 6%;

	div.discover-info{
		display: inline-block;
		line-height: 20px;
		vertical-align: middle;
		padding: 0 0 0 1em;
	}

	img{
		width: 65px;
	height: 65px;
	float: left;
	border-radius: 100px;
	}

	a{
		vertical-align: middle;
	}

	h2{
		font-weight: 600;
	}
}