//SASS for Header 

header.main-header {
	position: fixed;
	top: 0;
}

div.logo {
	background: #161616;
	border-radius: 2px;
	left: 20px;
	top: 20px;
	position: fixed;
	z-index: 9999;
	text-align: center;
	@include size(70px);
	@include transition(.2s);
	
	&:hover {
		opacity: .85;
	}
	
	a.hamburger{
		color: white;
		font-size: 11px;
		letter-spacing: .2em;
		line-height: 70px;
		font-weight: 800;
	}
}