//SASS for Header 

.mast-head {
	position: relative;
	padding: 60px 0;
	font-weight: 900;
	font-size: 1.5em;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;

	div.logo {
		position: absolute;
		z-index: 9999;
		text-align: center;
		@include size(70px);
		@include transition(.2s);
		
		&:hover {
			opacity: .85;
		}
		
		a.hamburger{
			color: white;
			font-size: 1.5em;
			letter-spacing: .2em;
			font-weight: 800;
		}
	}
}