//Sass for journal

div.user-profile{
	margin: 0 auto;
	text-align: center;
	
	h1, h2{
		line-height: 1.5em;
	}

	h1{
		font-weight: 600;
	}

	img{
		padding: .3em;
		margin: .3em;
		background: white;
		border-radius: 20px;

	}

	a{
		display: block;
		margin: 1em auto;
		width: 200px;
		font-size: 1.3em;
		border: 1px solid #d9d9d9;
		border-radius: 999em;
		padding: .1em  .35em;
		background:none;
		color: $font;
		text-decoration: none;
		@include transition(.2s);
		}
		
	a:hover{
		background: #e9e9e9;
	}
}

.btn-follow {
	font-size: .65em;
	font-weight: 300;
	position: absolute;
	padding: .3em 1em;
	right: 0;
	top: calc(50% - 20px);
	background: none; 
	color: white;
	border: none;
	border: 2px solid white;
	border-radius: 15px;
	outline: none;
	@include transition(.2s);
	
	&:hover {
		background: #27b772;
		border: 2px solid #27b772;
	}

	&.following {
		background: #27b772 !important;
		border: 2px solid #27b772 !important;
	}
	
	.icon-check {
		color: white;
		padding-right: 1em;

		&:before {
			content: '\e60d';
			}
		}
	}
