//Sass for posts

.posts {
	padding-top: 8em;
}

article.event{
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	background: #0C0C0C;

	//Event image
	div.post-image {
		position: relative;
		width: 100%;
		background: center center no-repeat;
		background-color: teal;
		background-size: cover !important;

		&:after {
    padding-top: 56.25%; /*16:9 ratio*/
    display: block;
    content: '';
		}
	}

	.ls-social {
		position: absolute;
		right: 10px;
		bottom: 10px;

		li {
			padding: .5em;

			[class^="btn"] {
			background: #111;
			border-radius: 5px;
			border: none;
			@include transition(.3s);
			@include size(35px);

			&:hover {
				background: #E95846;
			}

			span {
				color: white;
				}
			}
		}
	}


	.posts-inner {
		max-width: 640px;
		margin: 0 auto;

	//event copy
		.post-text {
			font-style: italic;
			font-weight: 500;
			line-height: 1.5em;
			padding: 6em 0;
			font-size: 1.5em;

			&:before {
				content: "\201C";
			}

			&:after {
				content: "\201D";
			}

			@media screen and (max-width: 768px){
				margin: 1em 6%;
			}
		}
	}

	//Profile Pic
		img.post-user-pic{
			width: 65px;
			height: 65px;
			float: left;
			border-radius: 100px;

		}

	//Profile pic and event info
	header{
		position: absolute;
		z-index: 9999;
		height: 65px;
		line-height: 65px;
		left: 10px;
		top: 10px;


		@media screen and (max-width: 768px){
			padding: 1em 6%;
		}
	}

	@media screen and (max-width: 768px){
			max-width: 100%;
		}
}

//Event Info
div.event-info{
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
	padding: 0 0 0 1em;

	//Event title
	h2{
		font-weight: 600;
	}

	//Event poster
	h3{
		font-weight: 400;
	}
}