//SASS for Content 

.login-form{

}

.register{

}

.form-container{
	max-width: 300px;
	width: 88%;
	margin: 5em auto;

	img{
		display: block;
		padding: 3em 0;
		text-align: center;
		margin: 0 auto;
	}

	h1{
		color: $font;
		margin-bottom: 30px;
	}

	input{
		width: 100%;
		margin-bottom: 25px;
		padding-bottom: 10px;
		border: none;
		background: none;
		border-bottom: 1px solid $line-break;
	}

	input:focus{
		outline: none;
	}


	input.btn-signinup.img-upload{
		width: 90%;
		padding: 10px;
	}

	input.btn-signinup{
		border: 1px solid $line-break;
		border-radius: 10px;
		width: 50%;
		color: $font;
		clear: right;
		padding-top: 10px;
	}

	
	.return{
		float: right;
		text-align: center;
		width: 135px;
		margin-top: -57px;


		a{
			text-decoration: none;
			color: $font;
		}

		a:visited{
			color: $font;
		}
	}
}
