//Sass for commenting and gemming 

div.social-container{
	@media screen and (max-width: 768px){
		padding: 0 6%;
	}
}

//Gem icon
 button.gem-button {
		font-size: 1.3em;
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		padding: .1em  .35em;
		background:none;
		color: $font;
		text-decoration: none;
		margin-right: 1em;
		@include transition(.2s);
		}
		
	button:hover{
		background: #e9e9e9;
	}


	input.comment-field{
		padding: 2em 0;
		width: 100%;
		margin-bottom: 25px;
		padding-bottom: 10px;
		border: none;
		background: none;
		border-bottom: 1px solid $line-break;

		@media screen and (max-width: 768px){
		margin: 0 6%;
		width: 88%;
	}
	}

	form.gem{
		color: $font;
		font-weight: 600;

		@media screen and (max-width: 768px){
		margin: 0 6%;
	}
	}

	input:focus{
		outline: none;
	}

	p.user-comment{
		margin: .3em 0;

		span{
			font-weight: 600;
		}


		@media screen and (max-width: 768px){
		margin: 0 6%;
	}
	}