@import url(../icomoon/style.css);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/partials/_header.scss */
header.main-header {
  height: 80px;
  background: whitesmoke;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  /* line 3, ../sass/partials/_header.scss */
  header.main-header {
    top: 0;
    width: 100%;
    position: relative;
    background: whitesmoke;
  }
}

/* line 17, ../sass/partials/_header.scss */
.toggle-header {
  z-index: 8888;
}

/* line 22, ../sass/partials/_header.scss */
header a.logo {
  width: 120px;
  height: 100%;
  background: url(../images/ui/logo1.png) center no-repeat;
  background-size: 100%;
  text-indent: -99999px;
  margin-left: 40px;
  display: block;
}
@media screen and (max-width: 768px) {
  /* line 22, ../sass/partials/_header.scss */
  header a.logo {
    margin-left: 0;
    margin: 0 auto;
  }
}

/* line 36, ../sass/partials/_header.scss */
header a.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  /* line 36, ../sass/partials/_header.scss */
  header a.hamburger {
    width: 60px;
    height: 80px;
    background: url(../images/ui/menu.png) center no-repeat;
    background-size: 50%;
    display: block;
    float: left;
    left: 20px;
    position: absolute;
    text-indent: -99999px;
  }
}

/* line 53, ../sass/partials/_header.scss */
header a.add-ico {
  width: 60px;
  height: 80px;
  background: url(../images/ui/plus.png) center no-repeat;
  background-size: 50%;
  position: absolute;
  right: 20px;
  top: 0;
  text-indent: -99999px;
  z-index: 9999;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  /* line 53, ../sass/partials/_header.scss */
  header a.add-ico {
    z-index: 9999;
  }
}

/* line 72, ../sass/partials/_header.scss */
a.close_add {
  z-index: 9999;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
  /* line 72, ../sass/partials/_header.scss */
  a.close_add {
    z-index: 9999;
  }
}

/* line 3, ../sass/partials/_basics.scss */
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 8, ../sass/partials/_basics.scss */
body {
  height: 100%;
  background: whitesmoke;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

/* line 14, ../sass/partials/_basics.scss */
h1 {
  font-size: 1.1em;
}

/* line 18, ../sass/partials/_basics.scss */
h2 {
  font-size: 1.0em;
}

/* line 22, ../sass/partials/_basics.scss */
h3 {
  font-size: .9em;
}

/* line 27, ../sass/partials/_basics.scss */
h1, h2, h3, h4, p {
  color: #6a7684;
}
/* line 30, ../sass/partials/_basics.scss */
h1 a, h2 a, h3 a, h4 a, p a {
  color: #51606d;
}

/* line 35, ../sass/partials/_basics.scss */
a {
  text-decoration: none;
  color: #51606d;
}

/* line 42, ../sass/partials/_basics.scss */
div.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 768px) {
  /* line 42, ../sass/partials/_basics.scss */
  div.wrapper {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
  }
}

/* line 59, ../sass/partials/_basics.scss */
div.content-wrapper {
  margin-left: 250px;
  min-height: 100%;
}
@media screen and (max-width: 768px) {
  /* line 59, ../sass/partials/_basics.scss */
  div.content-wrapper {
    margin-left: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    top: 80px;
    background: whitesmoke;
  }
}

/* line 4, ../sass/partials/_events.scss */
article.event {
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
}
/* line 9, ../sass/partials/_events.scss */
article.event img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 4, ../sass/partials/_events.scss */
  article.event {
    width: 90%;
  }
}

/* line 4, ../sass/partials/_aside.scss */
aside {
  width: 250px;
  height: 700px;
  position: absolute;
  left: 0;
  height: 100%;
}
@media screen and (max-width: 768px) {
  /* line 4, ../sass/partials/_aside.scss */
  aside {
    background: #6a7684;
    position: fixed;
    top: 0;
  }
}

/* line 20, ../sass/partials/_aside.scss */
a.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  /* line 20, ../sass/partials/_aside.scss */
  a.hamburger {
    display: inherit;
  }
}

/* line 28, ../sass/partials/_aside.scss */
ul.menu {
  margin-left: 40px;
  font-size: 1.1em;
}
/* line 32, ../sass/partials/_aside.scss */
ul.menu li {
  padding: .5em 0;
}
/* line 34, ../sass/partials/_aside.scss */
ul.menu li a {
  color: #6a7684;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  /* line 34, ../sass/partials/_aside.scss */
  ul.menu li a {
    color: white;
  }
}

@media screen and (max-width: 768px) {
  /* line 47, ../sass/partials/_aside.scss */
  .slide {
    -webkit-transform: translate(250px, 0);
    -moz-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
  }
}

/* line 53, ../sass/partials/_aside.scss */
div.user-info {
  padding: 1em 0;
  margin-left: 40px;
  line-height: 40px;
}
/* line 58, ../sass/partials/_aside.scss */
div.user-info img {
  display: inline-block;
  vertical-align: middle;
}
/* line 62, ../sass/partials/_aside.scss */
div.user-info h2 {
  padding: 0 1em;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 62, ../sass/partials/_aside.scss */
  div.user-info h2 {
    color: white;
  }
}

/* line 3, ../sass/partials/_add.scss */
section.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(52, 54, 58, 0.97);
  z-index: 9998;
  overflow-y: scroll;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 15, ../sass/partials/_add.scss */
section.overlay header {
  line-height: 80px;
  height: 80px;
}
/* line 19, ../sass/partials/_add.scss */
section.overlay header h1 {
  color: white;
  text-align: center;
  vertical-align: middle;
}

/* line 28, ../sass/partials/_add.scss */
div.add-wrapper {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  line-height: 100%;
}

/* line 36, ../sass/partials/_add.scss */
.hide {
  display: none;
}

/* line 40, ../sass/partials/_add.scss */
form.add {
  width: 100%;
  padding: 2em 0;
}
/* line 44, ../sass/partials/_add.scss */
form.add input#title, form.add textarea#text {
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: 1px solid #7f8589;
  background: none;
  margin: 20px 0;
  outline: none;
  font-size: 24px;
  font-weight: 300 !important;
  resize: none;
  color: white;
}
/* line 58, ../sass/partials/_add.scss */
form.add input#title:focus, form.add textarea#text:focus {
  outline: none;
  color: white;
}
/* line 63, ../sass/partials/_add.scss */
form.add input#picture {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  cursor: pointer;
  background: url(../images/ui/photo.png) center no-repeat;
  outline: none;
  color: rgba(0, 0, 0, 0);
  text-indent: -999px;
}
/* line 75, ../sass/partials/_add.scss */
form.add input.privacy {
  margin-right: 2em;
}
/* line 81, ../sass/partials/_add.scss */
form.add input.submit {
  padding: 1em 3em;
  margin-top: 4em !important;
  display: block;
  margin: 0 auto;
  color: white;
  background: #5dbb55;
  border: none;
  border-radius: 5px;
}
/* line 93, ../sass/partials/_add.scss */
form.add span.privacy {
  color: #7f8589;
  padding: 1em 2em 0 .5em;
  font-size: 24px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  /* line 93, ../sass/partials/_add.scss */
  form.add span.privacy {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  /* line 3, ../sass/partials/_social.scss */
  div.social-container {
    padding: 0 6%;
  }
}

/* line 10, ../sass/partials/_social.scss */
button.gem-button {
  font-size: 1.3em;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: .1em  .35em;
  background: none;
  color: #6a7684;
  text-decoration: none;
  margin-right: 1em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

/* line 22, ../sass/partials/_social.scss */
button:hover {
  background: #e9e9e9;
}

/* line 27, ../sass/partials/_social.scss */
input.comment-field {
  padding: 2em 0;
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border: none;
  background: none;
  border-bottom: 1px solid #d5d5d5;
}
@media screen and (max-width: 768px) {
  /* line 27, ../sass/partials/_social.scss */
  input.comment-field {
    margin: 0 6%;
    width: 88%;
  }
}

/* line 42, ../sass/partials/_social.scss */
form.gem {
  color: #6a7684;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  /* line 42, ../sass/partials/_social.scss */
  form.gem {
    margin: 0 6%;
  }
}

/* line 51, ../sass/partials/_social.scss */
input:focus {
  outline: none;
}

/* line 55, ../sass/partials/_social.scss */
p.user-comment {
  margin: .3em 0;
}
/* line 58, ../sass/partials/_social.scss */
p.user-comment span {
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  /* line 55, ../sass/partials/_social.scss */
  p.user-comment {
    margin: 0 6%;
  }
}

/* line 11, ../sass/partials/_register.scss */
.form-container {
  max-width: 300px;
  width: 88%;
  margin: 5em auto;
}
/* line 16, ../sass/partials/_register.scss */
.form-container img {
  display: block;
  padding: 3em 0;
  text-align: center;
  margin: 0 auto;
}
/* line 23, ../sass/partials/_register.scss */
.form-container h1 {
  color: #6a7684;
  margin-bottom: 30px;
}
/* line 28, ../sass/partials/_register.scss */
.form-container input {
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border: none;
  background: none;
  border-bottom: 1px solid #d5d5d5;
}
/* line 37, ../sass/partials/_register.scss */
.form-container input:focus {
  outline: none;
}
/* line 42, ../sass/partials/_register.scss */
.form-container input.btn-signinup.img-upload {
  width: 90%;
  padding: 10px;
}
/* line 47, ../sass/partials/_register.scss */
.form-container input.btn-signinup {
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  width: 50%;
  color: #6a7684;
  clear: right;
  padding-top: 10px;
}
/* line 57, ../sass/partials/_register.scss */
.form-container .return {
  float: right;
  text-align: center;
  width: 135px;
  margin-top: -57px;
}
/* line 64, ../sass/partials/_register.scss */
.form-container .return a {
  text-decoration: none;
  color: #6a7684;
}
/* line 69, ../sass/partials/_register.scss */
.form-container .return a:visited {
  color: #6a7684;
}

/* line 4, ../sass/partials/_posts.scss */
article.event {
  margin: 0 auto 4em;
  width: 100%;
}
/* line 9, ../sass/partials/_posts.scss */
article.event img {
  width: 100%;
  height: auto;
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  /* line 9, ../sass/partials/_posts.scss */
  article.event img {
    max-width: 100%;
  }
}
/* line 22, ../sass/partials/_posts.scss */
article.event p {
  font-weight: 400;
  line-height: 1.5em;
  margin: 1em 0;
}
@media screen and (max-width: 768px) {
  /* line 22, ../sass/partials/_posts.scss */
  article.event p {
    margin: 1em 6%;
  }
}
/* line 33, ../sass/partials/_posts.scss */
article.event header {
  height: 65px;
  padding: 1em 0;
  line-height: 65px;
}
/* line 39, ../sass/partials/_posts.scss */
article.event header img {
  width: 65px;
  height: 65px;
  float: left;
  border-radius: 100px;
}
@media screen and (max-width: 768px) {
  /* line 33, ../sass/partials/_posts.scss */
  article.event header {
    padding: 1em 6%;
  }
}
@media screen and (max-width: 768px) {
  /* line 4, ../sass/partials/_posts.scss */
  article.event {
    max-width: 100%;
  }
}

/* line 58, ../sass/partials/_posts.scss */
div.event-info {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  padding: 0 0 0 1em;
}
/* line 65, ../sass/partials/_posts.scss */
div.event-info h2 {
  font-weight: 600;
}
/* line 70, ../sass/partials/_posts.scss */
div.event-info h3 {
  font-weight: 400;
}

/* 
article.user-post{
	max-width: 500px;
	margin: 0 auto;

	//Poster's image
	img.post-user-pic{
		width: 65px;
		height: 65px;
		border-radius: 35px;
	}

	//Featured image
	img.post-image{
		width: 100%;
	}

	@media screen and (max-width: 768px){
		width: 100%;
		max-width: 100%;
	}


}

*/
/* line 5, ../sass/partials/_discover.scss */
form.discover-search input {
  margin: 0em 6% 1em;
  width: 88%;
  padding-bottom: 10px;
  border: none;
  background: none;
  border-bottom: 1px solid #d5d5d5;
}
/* line 15, ../sass/partials/_discover.scss */
form.discover-search input:focus {
  outline: none;
}

/* line 21, ../sass/partials/_discover.scss */
div.discover-user {
  line-height: 65px;
  margin: 1em 6%;
}
/* line 26, ../sass/partials/_discover.scss */
div.discover-user div.discover-info {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  padding: 0 0 0 1em;
}
/* line 33, ../sass/partials/_discover.scss */
div.discover-user img {
  width: 65px;
  height: 65px;
  float: left;
  border-radius: 100px;
}
/* line 40, ../sass/partials/_discover.scss */
div.discover-user a {
  vertical-align: middle;
}
/* line 44, ../sass/partials/_discover.scss */
div.discover-user h2 {
  font-weight: 600;
}

/* line 3, ../sass/partials/_journal.scss */
div.user-profile {
  margin: 0 auto;
  text-align: center;
}
/* line 7, ../sass/partials/_journal.scss */
div.user-profile h1, div.user-profile h2 {
  line-height: 1.5em;
}
/* line 11, ../sass/partials/_journal.scss */
div.user-profile h1 {
  font-weight: 600;
}
/* line 15, ../sass/partials/_journal.scss */
div.user-profile img {
  padding: .3em;
  margin: .3em;
  background: white;
  border-radius: 20px;
}
/* line 23, ../sass/partials/_journal.scss */
div.user-profile a {
  display: block;
  margin: 1em auto;
  width: 200px;
  font-size: 1.3em;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: .1em  .35em;
  background: none;
  color: #6a7684;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 37, ../sass/partials/_journal.scss */
div.user-profile a:hover {
  background: #e9e9e9;
}
