@import url(../icomoon/style.css);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/Nathan/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/partials/_header.scss */
.mast-head {
  position: relative;
  padding: 60px 0;
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
/* line 13, ../sass/partials/_header.scss */
.mast-head h2 {
  margin-top: 20px;
  font-weight: 500;
}
/* line 18, ../sass/partials/_header.scss */
.mast-head div.logo {
  position: absolute;
  z-index: 9999;
  text-align: center;
  width: 70px;
  height: 70px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 25, ../sass/partials/_header.scss */
.mast-head div.logo:hover {
  opacity: .85;
}
/* line 29, ../sass/partials/_header.scss */
.mast-head div.logo a.hamburger {
  color: white;
  font-size: 1.5em;
  letter-spacing: .2em;
  font-weight: 800;
}

/* line 3, ../sass/partials/_basics.scss */
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 8, ../sass/partials/_basics.scss */
body {
  height: 100%;
  font-family: 'Lato', Helvetica, sans-serif;
  background: #181818;
  color: white;
}

/* line 15, ../sass/partials/_basics.scss */
h1 {
  font-size: 36px;
}

/* line 19, ../sass/partials/_basics.scss */
h2 {
  font-size: 1.0em;
}

/* line 23, ../sass/partials/_basics.scss */
h3 {
  font-size: .9em;
}

/* line 28, ../sass/partials/_basics.scss */
h1, h2, h3, h4, p {
  color: white;
}
/* line 31, ../sass/partials/_basics.scss */
h1 a, h2 a, h3 a, h4 a, p a {
  color: #51606d;
}

/* line 36, ../sass/partials/_basics.scss */
a {
  text-decoration: none;
  color: #51606d;
}

/* line 43, ../sass/partials/_basics.scss */
div.wrapper {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  z-index: 9999;
  height: 100%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

/* line 54, ../sass/partials/_basics.scss */
div.content-wrapper {
  position: absolute;
  margin-left: 250px;
  min-height: 100%;
  margin-left: 0;
  width: 100%;
  background: #222;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
/* line 63, ../sass/partials/_basics.scss */
div.content-wrapper.comment-slide {
  -webkit-transform: translatex(-250px);
  -moz-transform: translatex(-250px);
  -ms-transform: translatex(-250px);
  -o-transform: translatex(-250px);
  transform: translatex(-250px);
}

/* line 4, ../sass/partials/_aside.scss */
aside {
  width: 250px;
  height: 700px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: #0C0C0C;
}

/* line 16, ../sass/partials/_aside.scss */
a.hamburger {
  display: block;
}

/* line 21, ../sass/partials/_aside.scss */
a.link-new {
  border: 2px solid #8e8e8e;
  display: block;
  border-radius: 10px;
  color: #8e8e8e;
  padding: 1em;
  margin: 2em 1em;
  text-align: center;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 31, ../sass/partials/_aside.scss */
a.link-new:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid white;
  color: white;
}

/* line 39, ../sass/partials/_aside.scss */
ul.menu {
  margin: 20px 0 0 20px;
  font-size: 1em;
  font-weight: 600;
}
/* line 44, ../sass/partials/_aside.scss */
ul.menu li {
  margin: .5em 0;
  color: #8e8e8e;
  line-height: 30px;
  vertical-align: middle;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 52, ../sass/partials/_aside.scss */
ul.menu li span {
  line-height: 30px;
  vertical-align: middle;
  padding-right: 19px;
}
/* line 59, ../sass/partials/_aside.scss */
ul.menu li a {
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
}
/* line 65, ../sass/partials/_aside.scss */
ul.menu li img {
  display: inline;
  margin-left: -4px;
  margin-right: 1em;
  line-height: 30px;
  vertical-align: middle;
  border-radius: 999em;
  width: 24px;
  height: 24px;
}
/* line 75, ../sass/partials/_aside.scss */
ul.menu li:hover {
  color: white;
}

/* line 82, ../sass/partials/_aside.scss */
.slide {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

/* line 3, ../sass/partials/_add.scss */
section.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  overflow-y: scroll;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 14, ../sass/partials/_add.scss */
section.overlay header {
  line-height: 80px;
  height: 80px;
}
/* line 18, ../sass/partials/_add.scss */
section.overlay header h1 {
  color: white;
  text-align: center;
  vertical-align: middle;
}

/* line 26, ../sass/partials/_add.scss */
div.add-wrapper {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  line-height: 100%;
}

/* line 34, ../sass/partials/_add.scss */
.hide {
  display: none;
}

/* line 38, ../sass/partials/_add.scss */
form.add {
  width: 100%;
  padding: 2em 0;
}
/* line 42, ../sass/partials/_add.scss */
form.add input#title, form.add textarea#text {
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: 1px solid #7f8589;
  background: none;
  margin: 20px 0;
  outline: none;
  font-size: 24px;
  font-weight: 300 !important;
  resize: none;
  color: white;
}
/* line 56, ../sass/partials/_add.scss */
form.add input#title:focus, form.add textarea#text:focus {
  outline: none;
  color: white;
}
/* line 61, ../sass/partials/_add.scss */
form.add input#picture {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  cursor: pointer;
  background: url(../images/ui/photo.png) center no-repeat;
  outline: none;
  color: rgba(0, 0, 0, 0);
  text-indent: -999px;
}
/* line 73, ../sass/partials/_add.scss */
form.add input.privacy {
  margin-right: 2em;
}
/* line 77, ../sass/partials/_add.scss */
form.add input.submit {
  padding: 1em 3em;
  margin-top: 4em !important;
  display: block;
  margin: 0 auto;
  color: white;
  background: #5dbb55;
  border: none;
  border-radius: 5px;
}
/* line 89, ../sass/partials/_add.scss */
form.add span.privacy {
  color: #7f8589;
  padding: 1em 2em 0 .5em;
  font-size: 24px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  /* line 89, ../sass/partials/_add.scss */
  form.add span.privacy {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  /* line 3, ../sass/partials/_social.scss */
  div.social-container {
    padding: 0 6%;
  }
}

/* line 10, ../sass/partials/_social.scss */
.gem-button {
  font-size: 1.3em;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: .1em  .35em;
  background: none;
  color: white;
  text-decoration: none;
  margin-right: 1em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 21, ../sass/partials/_social.scss */
.gem-button.gemed {
  background: #e9e9e9 !important;
}

/* line 26, ../sass/partials/_social.scss */
button:hover {
  background: grey;
}

/* line 30, ../sass/partials/_social.scss */
form.gem {
  color: white;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  /* line 30, ../sass/partials/_social.scss */
  form.gem {
    margin: 0 6%;
  }
}

/* line 39, ../sass/partials/_social.scss */
input:focus {
  outline: none;
}

/* line 45, ../sass/partials/_social.scss */
.comments {
  position: fixed;
  right: -250px;
  z-index: 9999;
  height: 100%;
  width: 250px;
  background: #0C0C0C;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
/* line 54, ../sass/partials/_social.scss */
.comments.slide {
  -webkit-transform: translatex(-250px);
  -moz-transform: translatex(-250px);
  -ms-transform: translatex(-250px);
  -o-transform: translatex(-250px);
  transform: translatex(-250px);
}
/* line 58, ../sass/partials/_social.scss */
.comments header {
  display: table-cell;
  height: 50px;
  line-height: 50px;
}
/* line 64, ../sass/partials/_social.scss */
.comments .comment-wrapper {
  margin-top: 50px;
  height: 100%;
  overflow-y: scroll;
}
/* line 69, ../sass/partials/_social.scss */
.comments .comment-wrapper form {
  width: 215px;
}
/* line 72, ../sass/partials/_social.scss */
.comments .comment-wrapper form input {
  padding: 1em;
  border: none;
  background: #0C0C0C;
  width: 100%;
  color: white;
  font-weight: 200;
}
/* line 8, ../bourbon/css3/_placeholder.scss */
.comments .comment-wrapper form input::-webkit-input-placeholder {
  color: white;
  font-weight: 200;
}
/* line 14, ../bourbon/css3/_placeholder.scss */
.comments .comment-wrapper form input:-moz-placeholder {
  color: white;
  font-weight: 200;
}
/* line 19, ../bourbon/css3/_placeholder.scss */
.comments .comment-wrapper form input::-moz-placeholder {
  color: white;
  font-weight: 200;
}
/* line 24, ../bourbon/css3/_placeholder.scss */
.comments .comment-wrapper form input:-ms-input-placeholder {
  color: white;
  font-weight: 200;
}
/* line 87, ../sass/partials/_social.scss */
.comments .comment-wrapper .comment {
  margin: 0 auto;
  position: relative;
  width: 195px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 55px;
  border-top: 1px solid #303030;
}
/* line 97, ../sass/partials/_social.scss */
.comments .comment-wrapper .comment:last-of-type {
  border-bottom: 1px solid #303030;
}
/* line 101, ../sass/partials/_social.scss */
.comments .comment-wrapper .comment a {
  color: white;
  font-weight: 800;
}
/* line 106, ../sass/partials/_social.scss */
.comments .comment-wrapper .comment p.user-comment {
  margin: .6em 0;
  font-weight: 400;
  font-size: 13px;
}
/* line 112, ../sass/partials/_social.scss */
.comments .comment-wrapper .comment img {
  position: absolute;
  left: 10px;
  border-radius: 999em;
  width: 32px;
  height: 32px;
}

/* line 12, ../sass/partials/_register.scss */
.form-container {
  max-width: 300px;
  width: 88%;
  margin: 5em auto;
}
/* line 17, ../sass/partials/_register.scss */
.form-container img {
  display: block;
  padding: 3em 0;
  text-align: center;
  margin: 0 auto;
}
/* line 24, ../sass/partials/_register.scss */
.form-container h1 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
}
/* line 31, ../sass/partials/_register.scss */
.form-container input {
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border: none;
  background: none;
  border-bottom: 1px solid #d5d5d5;
  color: white;
  letter-spacing: 0.075em;
}
/* line 42, ../sass/partials/_register.scss */
.form-container input:focus {
  outline: none;
}
/* line 47, ../sass/partials/_register.scss */
.form-container input.btn-signinup.img-upload {
  width: 90%;
  padding: 10px;
}
/* line 52, ../sass/partials/_register.scss */
.form-container input.btn-signinup {
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  width: 50%;
  color: white;
  clear: right;
  padding-top: 10px;
}
/* line 62, ../sass/partials/_register.scss */
.form-container .return {
  float: right;
  text-align: center;
  width: 135px;
  margin-top: -57px;
}
/* line 69, ../sass/partials/_register.scss */
.form-container .return a {
  text-decoration: none;
  color: white;
}
/* line 74, ../sass/partials/_register.scss */
.form-container .return a:visited {
  color: white;
}

/* line 3, ../sass/partials/_posts.scss */
.posts {
  padding-top: 8em;
}

/* line 7, ../sass/partials/_posts.scss */
article.event {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  background: #0C0C0C;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
/* line 18, ../sass/partials/_posts.scss */
article.event div.post-image {
  position: relative;
  width: 100%;
  background: center center no-repeat;
  background-color: teal;
  background-size: cover !important;
}
/* line 25, ../sass/partials/_posts.scss */
article.event div.post-image:after {
  padding-top: 56.25%;
  /*16:9 ratio*/
  display: block;
  content: '';
}
/* line 32, ../sass/partials/_posts.scss */
article.event .ls-social {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* line 37, ../sass/partials/_posts.scss */
article.event .ls-social li {
  padding: .5em;
}
/* line 40, ../sass/partials/_posts.scss */
article.event .ls-social li [class^="btn"] {
  outline: none;
  background: #111;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  height: 35px;
  min-width: 35px;
}
/* line 49, ../sass/partials/_posts.scss */
article.event .ls-social li [class^="btn"].gemed {
  background: #E95846 !important;
}
/* line 53, ../sass/partials/_posts.scss */
article.event .ls-social li [class^="btn"]:hover {
  background: grey;
}
/* line 57, ../sass/partials/_posts.scss */
article.event .ls-social li [class^="btn"] span {
  color: white;
}
/* line 65, ../sass/partials/_posts.scss */
article.event .posts-inner {
  max-width: 640px;
  margin: 0 auto;
}
/* line 70, ../sass/partials/_posts.scss */
article.event .posts-inner .post-text {
  font-style: italic;
  font-weight: 500;
  line-height: 1.5em;
  padding: 6em 0;
  font-size: 1.5em;
}
/* line 77, ../sass/partials/_posts.scss */
article.event .posts-inner .post-text:before {
  content: "\201C";
}
/* line 81, ../sass/partials/_posts.scss */
article.event .posts-inner .post-text:after {
  content: "\201D";
}
@media screen and (max-width: 768px) {
  /* line 70, ../sass/partials/_posts.scss */
  article.event .posts-inner .post-text {
    margin: 1em 6%;
  }
}
/* line 92, ../sass/partials/_posts.scss */
article.event img.post-user-pic {
  width: 65px;
  height: 65px;
  float: left;
  border-radius: 100px;
}
/* line 101, ../sass/partials/_posts.scss */
article.event header {
  position: absolute;
  z-index: 9999;
  height: 65px;
  line-height: 65px;
  left: 10px;
  top: 10px;
}
@media screen and (max-width: 768px) {
  /* line 101, ../sass/partials/_posts.scss */
  article.event header {
    padding: 1em 6%;
  }
}
@media screen and (max-width: 768px) {
  /* line 7, ../sass/partials/_posts.scss */
  article.event {
    max-width: 100%;
  }
}

/* line 121, ../sass/partials/_posts.scss */
div.event-info {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  padding: 0 0 0 1em;
}
/* line 128, ../sass/partials/_posts.scss */
div.event-info h2 {
  font-weight: 600;
}
/* line 133, ../sass/partials/_posts.scss */
div.event-info h3 {
  font-weight: 400;
}

/* line 6, ../sass/partials/_discover.scss */
form.discover-search input {
  margin: 0em 6% 1em;
  width: 88%;
  padding-bottom: 10px;
  border: none;
  background: none;
  border-bottom: 1px solid #d5d5d5;
  color: white;
  letter-spacing: 0.075em;
}
/* line 17, ../sass/partials/_discover.scss */
form.discover-search input:focus {
  outline: none;
}

/* line 22, ../sass/partials/_discover.scss */
div.discover-user {
  line-height: 65px;
  margin: 1em 6%;
}
/* line 27, ../sass/partials/_discover.scss */
div.discover-user div.discover-info {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  padding: 0 0 0 1em;
}
/* line 34, ../sass/partials/_discover.scss */
div.discover-user img {
  width: 65px;
  height: 65px;
  float: left;
  border-radius: 100px;
}
/* line 41, ../sass/partials/_discover.scss */
div.discover-user a {
  vertical-align: middle;
}
/* line 45, ../sass/partials/_discover.scss */
div.discover-user h2 {
  font-weight: 600;
}

/* line 3, ../sass/partials/_journal.scss */
div.user-profile {
  margin: 0 auto;
  text-align: center;
}
/* line 7, ../sass/partials/_journal.scss */
div.user-profile h1, div.user-profile h2 {
  line-height: 1.5em;
}
/* line 11, ../sass/partials/_journal.scss */
div.user-profile h1 {
  font-weight: 600;
}
/* line 15, ../sass/partials/_journal.scss */
div.user-profile img {
  padding: .3em;
  margin: .3em;
  background: white;
  border-radius: 20px;
}
/* line 23, ../sass/partials/_journal.scss */
div.user-profile a {
  display: block;
  margin: 1em auto;
  width: 200px;
  font-size: 1.3em;
  border: 1px solid #d9d9d9;
  border-radius: 999em;
  padding: .1em  .35em;
  background: none;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 37, ../sass/partials/_journal.scss */
div.user-profile a:hover {
  background: #e9e9e9;
}

/* line 42, ../sass/partials/_journal.scss */
.btn-follow {
  font-size: .65em;
  font-weight: 300;
  position: absolute;
  padding: .3em 1em;
  right: 0;
  top: calc(50% - 20px);
  background: none;
  color: white;
  border: none;
  border: 2px solid white;
  border-radius: 15px;
  outline: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 57, ../sass/partials/_journal.scss */
.btn-follow:hover {
  background: #27b772;
  border: 2px solid #27b772;
}
/* line 62, ../sass/partials/_journal.scss */
.btn-follow.following {
  background: #27b772 !important;
  border: 2px solid #27b772 !important;
}
/* line 67, ../sass/partials/_journal.scss */
.btn-follow .icon-check {
  color: white;
  padding-right: 1em;
}
/* line 71, ../sass/partials/_journal.scss */
.btn-follow .icon-check:before {
  content: '\e60d';
}
