@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?hjwqn2');
	src:url('fonts/icomoon.eot?#iefixhjwqn2') format('embedded-opentype'),
		url('fonts/icomoon.woff?hjwqn2') format('woff'),
		url('fonts/icomoon.ttf?hjwqn2') format('truetype'),
		url('fonts/icomoon.svg?hjwqn2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-compass:before {
	content: "\e600";
}
.icon-comment:before {
	content: "\e605";
}
.icon-bubble:before {
	content: "\e606";
}
.icon-checkmark:before {
	content: "\e60c";
}
.icon-plus:before {
	content: "\e60e";
}
.icon-add:before {
	content: "\e60f";
}
.icon-close:before {
	content: "\e610";
}
.icon-diamond:before {
	content: "\e601";
}
.icon-th-menu:before {
	content: "\e609";
}
.icon-logout:before {
	content: "\e602";
}
.icon-house:before {
	content: "\e603";
}
.icon-book:before {
	content: "\e604";
}
.icon-comment2:before {
	content: "\e607";
}
.icon-list:before {
	content: "\e60a";
}
.icon-comment3:before {
	content: "\e608";
}
.icon-reorder:before {
	content: "\e60b";
}
.icon-checkmark2:before {
	content: "\e60d";
}
